/**
* Check marker with different states (checked - not checked)
**/
@import "../settings";

$marker-width: 2.3rem;
$marker-height: 2.3rem;

.marker {

  background: $light-gray;
  border: 2px solid $dark-gray;

  border-radius: 50%;

  display: inline-block;
  width: $marker-width;
  height: $marker-height;
  line-height: $marker-height;

  font-size: 1.5rem;
  text-align: center;
  color: $dark-gray;

  &:hover{
    background: $green;
    border: 2px solid darken($green, 20%);
    color: $white;
  }

}